#header-text {
    max-width: 750px;
}

#advantages .grid-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}


/* Slick */

.slick-slide {
  border: solid 4px;
  border-radius: 5px;
  margin-left: 15px;
  border-color: transparent;
}

.slider-nav .slick-current {
  border-color: white;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-list {
  margin: 0px 35px;
}

.slick-arrow {
  background-color: var(--bs-danger);
  color: var(--bs-body-color);
  padding: 6px;
  border-radius: 50%;
  width: auto;
  height: auto;
}

.slick-arrow::before {
  color: var(--bs-body-color);
  opacity: 1;
  font-size: 20px;
}

.slick-arrow:focus,
.slick-arrow:hover {
  background-color: var(--bs-danger);
  color: var(--bs-body-color);
}

.slider .slick-track > img {
  height: 500px !important;
  object-fit: contain;
}
