{% extends "./base.html" %}
{% load static thumbnail %}

{% block header %}
{{ block.super }}
<link href="{% static "css/slick.css" %}" rel="stylesheet">
<link href="{% static "css/slick-theme.css" %}" rel="stylesheet">
<script src="{% static "js/slick.min.js" %}"></script>

<link href="{% static "about/css/about.css" %}" rel="stylesheet">
<script src="{% static "about/js/about.js" %}"></script>
{% endblock header %}


{% block body %}
<main>

<div class="container text-center my-5" id="header-text">
    <h1 class="display-4 fw-bold">Космическое агентство</h1>
    <p class="lead text-muted mt-3 width-matching">Национальное управление по аэронавтике и исследованию космического пространства — ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.</p>
</div>

<div class="container my-5">
  <div class="row g-4 align-items-center">
    <div class="col-12 col-md-6 order-last order-md-first">
      <div class="">
        <img class="img-fluid" src="{% static "about/jpg/planet.jpg" %}">
      </div>
    </div>

    <div class="col-12 col-md-6" id="advantages">
      <div class="row row-cols-2 g-3">
        <div class="col">
          <div class="grid-cell">
            <img class="img-fluid" src="{% static "about/svg/advantages/1.svg" %}">
            <p>Спейс шаттлы — пилотируемые корабли</p>
          </div>
        </div>
        <div class="col">
          <div class="grid-cell">
            <img class="img-fluid" src="{% static "about/svg/advantages/2.svg" %}">
            <p>Лучшее телескопическое оборудование</p>
          </div>
        </div>
        <div class="col">
          <div class="grid-cell">
            <img class="img-fluid" src="{% static "about/svg/advantages/3.svg" %}">
            <p>Исследовательские станции на Луне — шаг к новым открытиям!</p>
          </div>
        </div>
        <div class="col">
          <div class="grid-cell">
            <img class="img-fluid" src="{% static "about/svg/advantages/4.svg" %}">
            <p>Золотая медаль по научным исследованиям</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if images %}
<div class="bg-body-tertiary py-5" id="photo">
    <div class="container gap-5">
        <h1 class="my-5 text-center">Фотографии</h1>

        <!-- Main slider -->
        <div class="slider mb-3">
            {% for image in images %}
                <img src="{{ image.logo.url }}" defer>
            {% endfor %}
        </div>

        <!-- Thumbnail slider – centered and width‑limited -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="slider-nav mt-2">
                    {% for image in images %}
                        <img src="{% thumbnail image.logo 100x100 crop %}" defer>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

</main>
{% endblock body %}
